.form_container {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 8px;
    padding: 0;
}

.form_section {
    display: flex;
    flex-direction: column;
}

.form_section__title {
    color: black;
}

.form_fields__container {
    display: flex;
    flex-direction: column;
}

.form_field__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.4rem;
}

.form_field__wrapper label {
    font-weight: 500;
    color: #333333;
    margin-bottom: 0.2rem;
}

.form_field__wrapper input,
.form_field__wrapper textarea {
    padding: 0.6rem 1rem;
    border-radius: 0.6rem;
    border: 1px solid #77777760;
}

.form_field__wrapper input:focus,
.form_field__wrapper textarea:focus {
    outline: 1px solid blue;
}

.form_field__wrapper textarea {
    resize: vertical;
    max-height: 200px;
    min-height: 40px;
}
