:root {
    font-family: sans-serif;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    --success-green: 75, 181, 67;
    --danger-red: 202, 11, 0;
    --success-green-bg: 56, 142, 60;
    --danger-red-bg: 183, 28, 28;
}

body {
    margin: 0;
}

.container {
    display: flex;
    align-items: stretch;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    box-sizing: border-box;
    gap: 2rem;
}
